<div class="home">
    <div class="box">
        <div class="left">
            <h3>We build Affordable, Easy to use, Feature rich Websites, Web Applications and Mobile Apps For your Business.</h3>
            <a href="" pRipple>About Us</a>
        </div>
        <div class="right">
            <div class="img">
                <img src="../../assets/web_device.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="services" id="services" #services>
    <div class="top-header">
        <h1>OUR SERVICES</h1>
    </div>
    <div class="bottom-header">
        <div class="boxs">
            <div class="box-1">
                <figure>
                    <img src="../../assets/computerLogo.png" alt="">
                </figure>
                <h2>Website Devlopment</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a href="">Discover</a>

            </div>
            <div class="box-2">
                <figure>
                    <img src="../../assets/computerLogo.png" alt="">
                </figure>
                <h2>Webapplication Devlopment</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a href="">Discover</a>
            </div>
            <div class="box-3">
                <figure>
                    <img src="../../assets/computerLogo.png" alt="">
                </figure>
                <h2>ios App Devlopment</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a href="">Discover</a>
            </div>
            <div class="box-4">
                <figure>
                    <img src="../../assets/computerLogo.png" alt="">
                </figure>
                <h2>Android App Devlopment</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a href="">Discover</a>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="top-header">
        <h1>About Us</h1>
        <p>Ojas Innovative Solutions continue to push boundaries of current technology and invest in emerging technology to bring transform and Innovative digital solutions for businesses across the world.</p>
    </div>
    <div class="bottom-header">
        <div class="boxs">
            <div class="box-1">
                <h1>Our Mission</h1>
                <h2>Digitalize each and every business to reach the global market</h2>
                <p>Ojas Innovative Solutions is one of the prominent software companies that help other organizations to transform into digital enterprises. Our mission is to deliver optimal solutions with top quality and best services at affordable prices
                    .It differentiates you from competitors in the market and provides better engagement with customers, partners and employees.</p>
            </div>
            <div class="box-2">
                <h1>Our Vision</h1>
                <h2>Our vision is to set a new benchmark in information technology enabled services</h2>
                <p>We allow the businesses to expand their boundaries by making innovative business partnership with us; our innovative ideas &cutting-edge solutions make outsourcing works for them. We visualize our organization to be the first and the last
                    stop for the businesses across the globe seeking out for long-term success and prosperity with the help of our team.</p>
            </div>
            <div class="box-3">
                <h1>Our Values</h1>
                <div class="list">
                    <span>
                    <h2><span>1.</span>USERS FIRST</h2>
                    <p>Users should be top of mind. Do something that exceeds users’ expectations.
                    </p>
                    </span>
                    <span>
                    <h2><span>2.</span>THINK BIG</h2>
                    <p>Think boldly. Don’t make excuses; instead, think of the positive and realistic ways to get things done. </p>
                    </span>
                    <span>
                    <h2><span>3.</span>CHALLENGE</h2>
                    <p>Never miss the chance to be challenged. Don’t hesitate to challenge what we believe in.
                    </p>
                    </span>
                    <span>
                    <h2><span>4.</span>COMMITMENT</h2>
                    <p>Be professional. Never compromise; Commit to deliver the end result.
                    </p>
                    </span>
                    <span>
                    <h2><span>5.</span>FRUGALITY</h2>
                    <p>Think about the cost and always keep in mind to be creative with originality.
                    </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="top-header">
        <h1>Meet Out Team</h1>
    </div>
    <div class="bottom-header">
        <div class="boxs">
            <div>
                <figure>
                    <img src="../../assets/manLogo.png" alt="">
                </figure>
                <h1>Soniya Agrwal</h1>
                <h2>Founder</h2>
            </div>
            <div>
                <figure>
                    <img src="../../assets/manLogo.png" alt="">
                </figure>
                <h1>Jhon Smith</h1>
                <h2>Designer</h2>
            </div>
            <div>
                <figure>
                    <img src="../../assets/manLogo.png" alt="">
                </figure>
                <h1>Robin Demelo</h1>
                <h2>Marketing Head</h2>
            </div>
        </div>
    </div>
</div>